.header {
    display: flex;
    background-color: #1f2937;
    font-family: sans-serif;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fff;
    background-color: #1f2937;
    font-size: 24px;
    padding: 24px 38px
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 8px;
    font-size: 14px;
}

a {
    font-size: 18px;
    background-color: #1f2937;
    color: #fff;
    padding: 4px;
    text-decoration: none;
}

/* content */

.container {
    display: flex;
    background: #1f2937;
    color: #fff;
    padding-left: 60px;
    padding-bottom: 60px;
}

.title {
    font-size: 48px;
    font-family: sans-serif;
    color: #f9faf8;
    margin-left: 60px;
    margin-bottom: 20px;
    padding-bottom: 20px;

}

.text {
    font-size: 18px;
    font-family: sans-serif;
    color: #e5e7eb;
    margin-left: 60px;
    margin-bottom: 20px;
    padding-bottom: 20px;

}

button {
    padding: 8px 16px;
    border-radius: 8px;
    margin-left: 60px;
}

.container .placeholder {
    background-color: gray;
    font-size: 16;
    font-family: sans-serif;
    color: white;
    padding: 60px;
    height: 60px;
    width: 200px
    margin-right: 60px;
    padding-left: 60px;
    padding-right: 60px;
  }

  /* Random Information */
