.header {
    display: flex;
    background-color: #1f2937;
    font-family: sans-serif;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fff;
    background-color: #1f2937;
    font-size: 24px;
    padding: 24px 38px
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 8px;
    font-size: 14px;
}

a {
    font-size: 18px;
    background-color: #1f2937;
    color: #fff;
    padding: 4px;
    text-decoration: none;
}

/* content */

.container {
    display: flex;
    background: #1f2937;
    color: #fff;
    padding-left: 60px;
    padding-bottom: 60px;
}

.title {
    font-size: 48px;
    font-family: sans-serif;
    color: #f9faf8;
    margin-left: 60px;
    margin-bottom: 20px;
    padding-bottom: 20px;

}

.text {
    font-size: 18px;
    font-family: sans-serif;
    color: #e5e7eb;
    margin-left: 60px;
    margin-bottom: 20px;
    padding-bottom: 20px;

}

button {
    padding: 8px 16px;
    border-radius: 8px;
    margin-left: 60px;
    background-color: #3882f6;
    color: #fff;
}

.container .placeholder {
    background-color: gray;
    font-size: 16;
    font-family: sans-serif;
    color: white;
    padding: 60px;
    height: 60px;
    width: 200px
    margin-right: 60px;
    padding-left: 60px;
    padding-right: 60px;
  }

  /* Random Information */

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.information .info-title {
      font-size: 36px;
      font-weight: extra-bold;
      color: #1f2937;
      font-family: sans-serif;
      padding-top: 80px;
      padding-bottom: 60px;
  }

.images {
    display: flex;
}

img {
    border:#1f2937;
    border-radius: 10px;
    
}

figcaption {
    font-size: 14;
    font-family: tahoma;
    text-align: center;
    padding-bottom: 80px;
}

/* Quote */
.quote {
    background-color: #e5e7eb;
}

.main-quote{
    font-size: 36px;
    font-weight: light;
    color: #1f2937;
    font-family: verdana;
    text-align: center;
    padding: 80px 60px;
    font-style: italic;
}

.by {
    font-size: 26px;
    font-weight: bold;
    font-family: verdana;
    text-align: end;
    padding-right: 80px;
    padding-bottom: 80px;
}

/* Call to Action */
.signup-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    color: #fff;
    width: 850px;
    height: 180px;
    margin-left: 280px;
    border-radius: 10px;
}

.call-one {
    font-family: calibri;
    font-weight: bold;
    font-size: 35px;
    padding-left: 60px;
    padding-right: 20px;
}

.call-two {
    font-family: calibri;
    font-size: 20px;
    padding-left: 60px;
}
